@model MoneyGiftViewModel
@using OnlineBalance.Tools;

@{
    ViewData["Title"] = "Money Gift";
}

<h1>Get your single money gift</h1>

@if ((bool)ViewData["IsGotGift"] == true)
{
    <p>You already got gift. For this reason you cannot take it again.</p>
}
else
{
    <div class="row">
        <form asp-action="MoneyGift" method="POST">
            <div class="form-group">
                <label asp-for="AccountId" class="control-label">Choose account to get a gift</label>
                <select asp-for="AccountId" class="form-control">
                    Select account
                    @foreach (var account in Model.Accounts)
                    {
                        <option value="@account.Id">@StringFormatter.ReadableAccountNumber(account.Number) - @StringFormatter.ReadableAccountMoney(account.Balance, account.Currency)</option>
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Get it" class="btn btn-primary" />
            </div>
        </form>
    </div>
}